@page
@model Taste.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-center text-primary">Order Placed Successful!</h1>
        Your Order Number is @Model.OrderId <br /><br/>
        <img src="~/images/lawn_leaf.jpg" style="width:65%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfuly
        <br />
        Please make sure to arrive on time for hot delcious food!
    </div>
</div>