@page
@model Taste.Pages.Admin.FoodType.IndexModel
@{
    ViewData["Title"] = "List Of Food";
}

<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Food List</h2>
        </div>

        <div class="col-6 text-right">
            <a asp-page="/Admin/FoodType/Upsert" class="btn btn-primary"><i class="fas fa-plus">&nbsp;Create New</i></a>
        </div>
    </div>
    <br /><br />
    <table id="DT_load" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Food Name</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/foodtype.js"></script>

    <partial name="_ValidationScriptsPartial" />

}
